.about{
    display: flex;
    flex-direction: column;
    background-color: #839AC7;
}
.vesseg{
    height: fit-content;
    margin-left: 50px;
    margin-right: 50px;
}
.radiomics{
    height: fit-content;
    margin: 50px;
}
.vesseg > p:nth-child(1) > ol:nth-child(6){
    height: fit-content;
}
.about > h1:nth-child(1){
    color: white;
}
.vesseg > p:nth-child(1){
    color: white;
}
.radiomics > h1:nth-child(1){
    color: white;
}
.radiomics > p:nth-child(2){
    color: white;
}