.footer{
    position: fixed;
    display: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2F3747;
    color: white;
    height: 35pt;
    justify-content: space-between;
}
#impressumButton{
    margin-left: 20px;
}
#ikimLogoButton{
    margin-right: 20px;
}
