.main{
    display: flex;
    overflow: hidden;
}
.split{
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 100vh;
}

.left {
    justify-content: center;
    max-width: 60%;
    -webkit-box-flex: 0;
    background-color: #839AC7;
}

.right {
    justify-content: center;
    max-width: 40%;
    -webkit-box-flex: 0;
    background-color: white;
}
.centered{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.left h2{
    color:white;
    margin: 50px;
}
.left p{
    color:white;
    height: fit-content;
    width: fit-content;
    margin: 50px;
}

.alternative{
    display: flex;
    flex-direction: column;
    height: fit-content;

}

.right p{
    color: #acacac;
    height: fit-content;
}

.form{
    height: fit-content;
}

.titleRight{
    margin: 50px;
}