.projects{
    display: flex;
    flex-direction: column;
}
h1{
    text-align: center;
    height: fit-content !important;
}
.buttons{
    height: 50px;
    margin-bottom: 50pt;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.table{
    height: fit-content;
    margin: 50px;
}
a.MuiButton-outlined{
    margin-left: 50px;
}
button.MuiButton-root{
    margin-right: 50px;
}