.project{
    display: flex;
    flex-direction: column;
}
.createProject{
    display: flex;
    justify-content: center;
}
.uploadData{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.chooseModel{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.downloadReport{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.evaluation{
    display: flex;
    justify-content: center;
}