.settings{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto !important;
}
#editUser{
    height: fit-content !important;
    width: fit-content;
    margin-bottom: 50px;
    margin-left: 40px;
}
.deleteUser{
    height: fit-content;
    margin: 50px !important;
    align-self: center;
}
.editUsername{
    display: flex;
    margin: 20px;
    height: fit-content !important;
}
.editUseremail{
    display: flex;
    margin: 20px;
    height: fit-content !important;
}
.editPassword{
    display: flex;
    margin: 20px;
    height: fit-content !important;
}
.logout{
    height: fit-content !important;
}
.changeNameButton{
    margin-left: 10px !important;
}
.changeEmailButton{
    margin-left: 10px !important;
}
.changePasswordButton{
    margin-left: 10px !important;
}
.paper{
    height: fit-content;
    display: flex;
    flex-direction: column;
}