pip install Flask
pip install Flask-Login
pip install Flask-SQLAlchemy
pip install Flask-WTF
pip install Flask-Bcrypt
pip install Flask-Migrate
pip install email-validator
#Pls do not take this serious, Im just collecting in the process