pip install Flask
pip install Flask-Login
pip install Flask-SQLAlchemy
pip install Flask-WTF
pip install Flask-Bcrypt
pip install Flask-Migrate

#Pls do not take this serious, im just collecting in the process