<!DOCTYPE html>
<html> 
    <head> 
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Forgot password</title>
        <style>
            .footer{
                position: fixed; 
                left: 0; 
                bottom: 0; 
                width: 100%;
            }
        </style>
    </head>
    <body>
        <!--Header-->
        <div class="topnav">
            <div class="logo-image">
                <img src="/static/logo.png">
            </div>
            <a href="/">Vesseg</p>
            <a href="/about">About</a>
            <a href="/settings">Settings</a> 
        </div> 
        <!--Main-->
        <h1>Reset password</h1>
        <form method="POST" action="">
            {{form.hidden_tag()}}
            {{form.email}}
            {{form.submit}}
        </form>
        <!--Footer-->
        <div class="footer"> 
            <a href="/impressum">Impressum</a>
        </div>
    </body> 
</html>