<!DOCTYPE html>
<html> 
    <head> 
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Projects</title>
        <style>
            .footer{
                position: fixed; 
                left: 0; 
                bottom: 0; 
                width: 100%;
            }
        </style>
    </head>
    <body>
        <!--Header-->
        <div class="topnav">
            <div class="logo-image">
                <img src="/static/logo.png">
            </div>
            <a href="/">Vesseg</p>
            <a class="active" href="/projects">Projects</a>
            <a href="/about">About</a>
            <a href="/howto">How to</a>
            <!--TODO: Hier kommt ein Settingssymbol hin-->
            <a href="/settings">Settings</a>
        </div> 
        <!--Main-->
        <h1>Projects</h1> 
        <p>There is no project created yet</p>
        <a href="/projects/new">Create new project</a>
        <a href="/about">I don't know what to do</a>
        <!--Footer-->
        <div class="footer"> 
            <a href="/impressum">Impressum</a>
        </div>
    </body> 
</html>