<!DOCTYPE html>
<html> 
    <head> 
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Settings</title>
        <style>
            .footer{
                position: fixed; 
                left: 0; 
                bottom: 0; 
                width: 100%;
            }
        </style>
    </head>
    <body>
        <!--Header-->
        <div class="topnav">
            <div class="logo-image">
                <img src="/static/logo.png">
            </div>
            <a href="/">Vesseg</p>
            <a href="/projects">Projects</a>
            <a href="/about">About</a>
            <a href="/howto">How to</a>
            <!--TODO: Hier kommt ein Settingssymbol hin-->
            <a class="active" href="/settings">Settings</a>
        </div> 
        <!--Main-->
        <h1>Hier entsteht die Settings Seite</h1> 
        <!--Footer-->
        <div class="footer"> 
            <p>Impressum</p>
        </div>
    </body> 
</html>