<!DOCTYPE html>
<html> 
    <head> 
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Settings</title>
        <style>
            .footer{
                position: fixed; 
                left: 0; 
                bottom: 0; 
                width: 100%;
            }
        </style>
    </head>
    <body>
        <!--Header-->
        <div class="topnav">
            <div class="logo-image">
                <img src="/static/logo.png">
            </div>
            <a href="/">Vesseg</p>
            {% if current_user.username %}
            <a href="/projects">Projects</a>
            {% endif %}
            <a href="/about">About</a>
            {% if current_user.username %}
            <a href="/howto">How to</a>
            <!--FIXME: Hier kommt ein Logo hin-->
            <a class = "active" href="/settings">Settings</a>
            {% endif %}
        </div>
        <!--Main-->
        <h1>Hier entsteht die Settings Seite</h1> 
        <a href="/logout">Log out</a> 
        <!--Footer-->
        <div class="footer"> 
            <a href="/impressum">Impressum</a>
        </div>
    </body> 
</html>